body {
   color: #FFFFFF;
   background-color: #000000;
   line-height: 1.6;
}
a, a:link, a:visited {
   color: #fff;
   text-decoration: underline;
}
img {
    max-width: 100%;
}
.hide-on-lg {
   display:none;
}
.container {
   margin: 0 auto;
   max-width: 1100px;
}
#main-banner {
    background-image: url(h/layout/new-banner.jpeg);
    background-repeat: no-repeat;
    background-position: top left;
    border: 1px solid white;
    margin-top: 3px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
#main-banner a {
    font-size: 125%;
    font-family: 'Yeseva One', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 3px;
}
#main-banner img {
   max-width: 100%;
   height: auto;
   display: block;
}
#main-nav {
    height: 40px;
    line-height: 40px;
    background: #000;
    font-size: .8em;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid lightgray;
    border-top: none;
    margin-bottom: 15px;
    padding: 0 5px;
}
#main-nav div {
    z-index: 1000;
    display: inline-block;
    position: relative;
    max-width: 178px;
    width: 16%;
}
#main-nav label {
   cursor: pointer;
   display: block;
   text-align: center;
}
#main-nav label img {
   vertical-align: middle;
}
#main-nav ul {
   position: absolute;
   list-style-type: none;
    vertical-align: top;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    background: #000;
    z-index: 1000;
    border: 1px solid lightgray;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: none;
}
#main-nav li a {
   line-height: 1;
   text-decoration: none;
   display: block;
   padding: 10px 0 10px 12px;
}
#main-nav li a:hover, #main-nav label:hover {
   color: #75B1EC;
}
#main-nav li img {
   vertical-align: middle;
}
#nav-games-toggle, ul#nav-games, 
#nav-media-toggle, ul#nav-media, 
#nav-worlds-toggle, ul#nav-worlds, 
#nav-themes-toggle, ul#nav-themes, 
#nav-info-toggle, ul#nav-info, 
#nav-extras-toggle, ul#nav-extras {
   display: none;
}
#nav-games-toggle:checked + ul#nav-games, 
#nav-media-toggle:checked + ul#nav-media, 
#nav-worlds-toggle:checked + ul#nav-worlds, 
#nav-themes-toggle:checked + ul#nav-themes, 
#nav-info-toggle:checked + ul#nav-info, 
#nav-extras-toggle:checked + ul#nav-extras  {
   display: block;
}
#sm-menu-toggle, #sm-menu-label {
   display: none;
}
.side-scraper {
   text-align: left;
   width: 160px;
   display: inline-block;
   vertical-align: top;
   position: absolute;
}
#mainBodyCell{
   padding-left:185px;
   padding-right:15px;
}
div#mainBodyCell li {
    margin-bottom: 25px;
} 
.list-table td {
    padding: 10px;
}






@media (max-width:930px){
   .hide-on-md {
      display: none;
   }
   #main-nav {
       height: inherit;
       font-size: 1em;
   }
   #main-nav div {
      display: block;
      width: 100%;
      max-width: inherit;
      position: inherit;
   }
   #main-banner a {
    font-size: 100%;
    padding: 5px 0;
   }
   #main-nav label {
      text-align: left;
      padding-left: 15px;
      font-weight: bold;
   }
   #main-nav ul {
      position: relative;
      border: none;
   }
   #main-nav li a {
      padding-left: 55px;
   }
   #sm-menu-label {
      font-weight: bold;
      padding: 10px 15px;
      display: block;
      cursor: pointer;
      border: 1px solid #fff;
      border-top: none;
   }
   #sm-menu-label:hover {
      color: #75B1EC;
   }
   #sm-menu-toggle, #main-nav {
      display: none;
   }
   #sm-menu-toggle:checked + #main-nav  {
      display: block;
   }
}







@media (max-width: 480px) {
   .hide-on-sm {
      display: none;
   }
   .mobile-top {
      display: block;
      text-align: center;
      margin: 5px auto;
   }
   #mainBodyCell{
      padding-left:15px;
   }
}
































/*#ad, #ad2, #ad3 {
   font-size: 12px;
   color: white;
   }
#ad4 {
   font-size: 10px;
   color: white;
   }
body {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 0.8em;
   color: #FFFFFF;
   background-color: #000000;
   margin-left: 0px;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
}
A:link {font-size: 1em; color: #0CF;}
A:visited {font-size: 1em; color:#66F;  text-decoration:none;}
A:link:active {font-size: 1em; color:#09F; }
A:visited:active {font-size: 1em; color:#09F; }


table {
   font-size : 1em;
}
div.images {display: none; text-align: center;}
a.image, a.image2, a:link:active.image, a:visited:active.image, a:link:active.image2, a:visited:active.image2 {font-size: 8pt; }

hr.contactUs
{
   margin-bottom: -15px;
   margin-top: 20px;
}

p.contactUs
{
   color: #999999;
   font-weight: bold;
}
dd.images {text-align: center;}


div.sectiontitle {
   margin: 30px 0px 0px 0px;
   font-size: 1.2em;
   font-weight: bold;
}

div.sectiondescription {
   margin: 5px 0px 10px 20px;
}
*/